fastapi==0.111.1
uvicorn[standard]==0.30.1
sqlalchemy[asyncio]==2.0.31
asyncpg==0.29.0
pgvector==0.3.2
alembic==1.13.2
pydantic-settings==2.3.4
python-json-logger==2.0.7
onnxruntime==1.18.1
numpy==1.26.4
python-Levenshtein==0.25.1
slowapi==0.1.9
httpx==0.27.0
transformers==4.42.4
optimum[onnxruntime]==1.21.2
